/*============头部样式渲染 START===============*/
#header .search-box .l,#header .search-box .icon,#header .search-box .btn1,#header .search-box .btn2,#main-nav ul li.all .arrow,#header .more-m .hd{
    background: url(http://img03.taobaocdn.com/tps/i3/T1z5GCXk0eXXXXXXXX-132-142.png) no-repeat -9999px -9999px transparent;
}

#header .search-box .l{
    background-position: 0 0;
}
#header .search-box .m{
    border-top: solid 2px #E8C020;
    border-bottom: solid 2px #E8C020;
}
#header .search-box .icon{
    left:5px;
    top:7px;
    display: none;
}
#header .search-box .ts-show{
    background-position:right -2px;
    display: block;
}
#header .search-box .btn1{
    background-position: -6px 0;
}
#header .search-box .btn2{
    background-position: -6px -68px;
}
#header .search-box .btn1:hover,#header .search-box .btn1-hover{
    background-position: -6px -33px;
}

#header .search-box .btn2:hover,#header .search-box .btn2-hover{
    background-position: -72px -68px;
}
#header .more-m .hd{
    background-position: 0 -101px;
}
#header .more-m .m-hover{
    background-position: 0 -122px;
}
/*============头部样式渲染 END===============*/

/*============主导航样式渲染 START===============*/
#main-nav {
    background: -moz-linear-gradient(top, #ffffff, #ECECEB);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ECECEB));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ECECEB'); /* IE6,IE7 */
    border-top: solid 1px #D7D7D7;
    border-bottom: solid 5px #E8C020;
}

#main-nav ul.nav li, #main-nav ul.others li {
    color: #E8C020;
}

#main-nav ul li.select {
    background: #E8C020;
}

#main-nav ul li.hover {
    background: #BB9910;
}

#main-nav ul li a {
    color: #666666;
}

#main-nav ul li.hover a, #main-nav ul li.select a, #main-nav ul li.hover span, #main-nav ul li.select span {
    color: #fff;
}

#main-nav ul li.all .arrow {
    background-position: -109px -4px;
    right: 8px;
    top: 13px;
}

#main-nav ul li.up .arrow {
    background-position: -109px -15px;
}

#main-nav ul li.border, #main-nav ul li.border-r {
    border-right: solid 1px #E8C020;
}

#main-nav .all-nav {
    border-top: solid 5px #E8C020;
    border-bottom: solid 5px #E8C020;
    background: #fff;
}

#main-nav .all-nav .c {
    border-left: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
    -moz-box-shadow: 2px 8px 8px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 8px 8px rgba(0, 0, 0, .5);
    box-shadow: 2px 8px 8px rgba(0, 0, 0, .5);
}

#main-nav .all-nav a {
    color: #808080;
}

#main-nav .all-nav dd a:hover {
    text-decoration: underline;
}

#main-nav .all-nav .c li:hover, #main-nav .all-nav .c .i-hover {
    background: #f5f5f5;
}

/*============主导航样式渲染 END===============*/

/*============子导航样式渲染 START===============*/
.c-select {
    /*覆盖所有背景，优先级最高*/
    background: #E8C020 !important;
}

#main-sub-nav.c-hover {
	 background: #BB9910 !important;
	 display:block;
}

#main-sub-nav li a {
    color: #fff;
}

#main-sub-nav ul li.select {
    background: #CCA91D;
}

#main-sub-nav .sub-sep {
    border-right: solid 1px #fff;
}

#main-sub-nav li.a dd:hover,#main-sub-nav li.a dd.dd-hover {
    text-decoration: none;
    background: #bb689c;

}

/*============子导航样式渲染 END===============*/


/* 全局样式 */
#page {
	width:100%;
	min-width:990px;
}

#content {
	margin:auto;
	width:990px;
	color: #333;
}

.layout a:link,
.layout a:visited {
	color: #666;
}

.layout a:hover,
.layout a:active {
	color: #ff5500;
}

.layout h2 a:link,
.layout h3 a:link,
.layout h4 a:link,
.layout h2 a:visited,
.layout h3 a:visited,
.layout h4 a:visited{
	color: #333;
	text-decoration: none;
}

.layout h2 a:hover,
.layout h3 a:hover,
.layout h4 a:hover,
.layout h2 a:active,
.layout h3 a:active,
.layout h4 a:hover{
	color: #d26c00;
	text-decoration: none;
}

/** 二栏布局 **/
.grid-m0s204 .main-wrap {
	margin-right: 210px;
}

.grid-m0s204 .col-sub {
	width: 204px;
	margin-left: -204px;
}

.grid-m0s190 .main-wrap {
	margin-right: 200px;
}

.grid-m0s190 .col-sub {
	width: 190px;
	margin-left: -190px;
}

/** 三栏布局 **/
.grid-s230m0e190 .main-wrap {
	margin: 0 200px 0 240px;
}

.grid-s230m0e190 .col-sub {
	width: 230px;
	margin-left: -100%;
}

.grid-s230m0e190 .col-extra {
	width: 190px;
	margin-left: -190px;
}
.grid-s230m0e210{
	margin:0 auto;
	width:986px;
}

.grid-s230m0e210 .sidebar {
	float:left;
	width: 230px;
	height:362px;
	overflow:hidden;
}

.grid-s230m0e210 .sidebar2{
	float:left;
	width: 204px;
	height:362px;
	padding-left:6px;
	overflow:hidden;
}
.grid-s230m0e210 .content {
	float:left;
	width:546px;
	height:362px;
	overflow:hidden;
}



/*-----=Footer: ----------------------------------------------{{{1*/
#footer {
    width:990px;
}
#footer .c2c_column {
    position:relative;
    width:904px;
    margin:0 auto 10px;
    padding:10px 23px 20px 23px;
    text-align:left;
    border-bottom: 1px solid #d1d7dc;
}
#footer .c2c_column .cp_logo {
    position:absolute;
    top:30px;
    left:425px;
    width:85px;
    height:85px;
    overflow:hidden;
}
#footer .c2c_column dt{
    height:20px;
    overflow:hidden;
    background:url(http://img04.taobaocdn.com/tps/i4/T1FqRVXo4JXXXXXXXX.png) no-repeat -90px 0;
}
#footer .c2c_column .newbie dt{
    background-position: -90px -20px;
}
#footer .c2c_column .payment dt{
    background-position: -90px -40px;
}
#footer .c2c_column .recommend dt{
    background-position: -90px -60px;
}
#footer .c2c_column dt em {
    font-size:18px;
    font-weight:bold;
    visibility:hidden;
}
#footer .c2c_column dl {
    float:left;
    display:inline;
    margin-left:125px;
}
#footer .c2c_column dl.ensure {
    width:90px;
    margin-left:0;
}
#footer .c2c_column dl.newbie {
    width:95px;
}
#footer .c2c_column dl.payment {
    width:97px;
    margin-left:245px;
}
#footer .c2c_column dl.recommend {
    width:140px;
    margin-left:107px;
}
#footer .c2c_column dd {
    margin-top:10px;
}
#footer .c2c_column dd li {
    height:22px;
    line-height:1.8;
}
#footer .c2c_column dd a {
    color:#666666;
}
#footer .c2c_column dd a:visited{
    color:#666666;
}
#footer .c2c_column dd a:hover{
    color:#ff6600;
}
#footer .c2c_column dd span {
    color:#999999;
    padding-left:5px;
}

#footer {
    border-top: 1px solid #D1D7DC;
    clear: both;
    margin: 10px auto;
    text-align: center;
    padding-top: 10px;
}

#footer .foot-nav {
    display: block;
    height: 20px;
    margin: 0 auto 0;
}

#footer .foot-nav a {
    margin: 0 7px;
}

#footer .ali-group {
    margin: 5px auto;
}

#footer .ali-group a {
    margin: 0 1px;
}

#footer .copyright {
    clear: both;
    margin: 15px auto 0;
}

#server-num {
    color: #fff;
    font-size: 11px;
}

/* footer END */
/*--------------------------------------------------------END-}}}1*/
