/** sprite: mysprite; sprite-image: url(../img/mysprite); sprite-layout: vertical;sprite-matte-color: #ffffff; */
.test input {
  color: red;
  font: 12px / 1.5 arial;
  background: blue;
}
#len {
  font-size: 12px;
}
#len .name {
  font-size: 12px;
}
#len .name .u {
  background-image: url(test.png);/** sprite-ref: mysprite;*/
}
