body {
  color: red;
  font: 12px/1.8 arial;
}
.shop-tabs .tab-link .news {
  background: url(a.png);
}
.shop-tabs .tab-link .hots {
  background: url(c.png);
}
.shop-tabs .tab-link .mail {
  background: url(d.png);
}
.shop-tabs .tab-link .tab-img {
  position: absolute;
  bottom: 0;
}
.shop-tabs .tab-link .mask {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 144px;
  height: 144px;
}
