.shop-tabs .tab-link .news ,
.shop-tabs .tab-link .hots ,
.shop-tabs .tab-link .mail {
  background-image: url(write-sprite.png);
  background-repeat: no-repeat;
}
body {
  color: red;
  font: 12px/1.8 arial;
}
.shop-tabs .tab-link .news {
  background-position: 0 -581px;
}
.shop-tabs .tab-link .hots {
  background-position: 0 -497px;
}
.shop-tabs .tab-link .mail {
  background-position: 0 -539px;
}
.shop-tabs .tab-link .tab-img {
  position: absolute;
  bottom: 0;
}
.shop-tabs .tab-link .mask {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 144px;
  height: 144px;
}
