.fl-tips,
.tab-nav {
  background-image: url(index-sprite-sprite.png);
  background-repeat: no-repeat;
}

.fl-tips {
  color: #999;
  padding: 0 4px 0 10px;
  background-position: 0 0;
}

.tab-nav {
  float: left;
  padding: 0 8px;
  position: relative;
  bottom: -1px;
  cursor: pointer;
  background-position: 0 0;
}