/* require(grids.css) */
#page {
	width:100%;
	min-width:990px;
}

#content {
	margin:auto;
	width:990px;
	color: #333;
}

.layout a:link,
.layout a:visited {
	color: #666;
}

.layout a:hover,
.layout a:active {
	color: #ff5500;
}

.layout h2 a:link,
.layout h3 a:link,
.layout h4 a:link,
.layout h2 a:visited,
.layout h3 a:visited,
.layout h4 a:visited{
	color: #333;
	text-decoration: none;
}

.layout h2 a:hover,
.layout h3 a:hover,
.layout h4 a:hover,
.layout h2 a:active,
.layout h3 a:active,
.layout h4 a:hover{
	color: #d26c00;
	text-decoration: none;
}

/** 二栏布局 **/
.grid-m0s204 .main-wrap {
	margin-right: 210px;
}

.grid-m0s204 .col-sub {
	width: 204px;
	margin-left: -204px;
}

.grid-m0s190 .main-wrap {
	margin-right: 200px;
}

.grid-m0s190 .col-sub {
	width: 190px;
	margin-left: -190px;
}

/** 三栏布局 **/
.grid-s230m0e190 .main-wrap {
	margin: 0 200px 0 240px;
}

.grid-s230m0e190 .col-sub {
	width: 230px;
	margin-left: -100%;
}

.grid-s230m0e190 .col-extra {
	width: 190px;
	margin-left: -190px;
	_margin-left: -190px;
	*margin-left: -190px;
	margin-left: -190px\9;
}
