/*create by zhouyun 2012.2.1*/
/*all*/
.content-main a,
.content-footer a {
  color: #666;
}
.left {
  float: left;
}
img {
  vertical-align: middle;
}
/*pagewrap*/
#content {
  background: #ffe0cc url(../img/goods-bg.png);
  overflow: hidden;
  width: 100%;
}
.page990 {
  width: 990px;
  margin: 0 auto;
}
.content-main {
  background: #FFF;
  border: 1px solid #fda3b1;
  margin-top: 27px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
 }
 .main-left {
   width: 659px;
   border-right: 2px solid #ededed;
   float: left;
   padding: 0 12px 0 14px;
 }
 .main-right {
   width: 270px;
   border-left: 1px solid #f3c7aa;
   float: left;
   padding: 0 15px;
}
.content-main .hd {
  height: 46px;
  border-bottom: 3px solid #d6d6d6;
  overflow: hidden;
}
.content-main .hd h2 {
  height: 46px;
  text-indent: -9999em;
  float: left;
  display: inline;
 }
 #content .content-main .hd .morelink {
   float: right;
   color: #acacac;
   display: inline;
   line-height: 50px;
 }
 .main-left .fenlei,
 .main-right .tese {
   height: 597px;
   overflow: hidden;
}
.main-left .zhuti,
.main-right .jieri {
  height: 510px;
  overflow: hidden;
}
.main-left .hunli,
.main-right .huabao {
  height: 263px;
  overflow: hidden;
}
.main-left .jiaju,
.main-right .dapei {
  height: 509px;
  overflow: hidden;
}
.main-left .diy,
.main-right .shenghuo {
  height: 337px;
  overflow: hidden;
}
.main-left .fenlei h2 {
  background: url(../img/fenlei.png) no-repeat;
  width: 80px;
}
.main-right .tese h2 {
  background: url(../img/tese.png) no-repeat;
  width: 80px;
}
.main-left .zhuti h2 {
  background: url(../img/zhuti.png) no-repeat;
  width: 148px;
}
.main-right .jieri h2 {
  background: url(../img/jieri.png) no-repeat;
  width: 80px;
}
.main-left .hunli h2 {
  background: url(../img/hunli.png) no-repeat;
  width: 80px;
}
.main-right .huabao h2 {
  background: url(../img/huabao.png) no-repeat;
  width: 80px;
}
.main-left .jiaju h2 {
  background: url(../img/jiaju.png) no-repeat;
  width: 80px;
}
.main-right .dapei h2 {
  background: url(../img/dapei.png) no-repeat;
  width: 120px;
}
.main-left .diy h2 {
  background: url(../img/diy.png) no-repeat;
  width: 106px;
}
.main-right .shenghuo h2 {
  background: url(../img/shenghuo.png) no-repeat;
  width: 80px;
}
/*main-left*/
.mt13 {
  margin-top: 13px;
}
/*banner*/
.banner {
  width: 659px;
  height: 276px;
  padding-top: 14px;
}
.main-promotion  {

  margin-top: 14px;
  width: 659px;
  height: 276px;
  overflow: hidden;
  position: relative;
}
.main-promotion .panels {
  background: #ccc;
  padding: 0;
}
.main-promotion .panels li  {
  height: 276px;
  float: left;
}
.main-promotion .panels img {
  width: 659px;
  height: 276px;
}
.main-promotion .nav-list  {
  clear: both;
  display: block;
  position: absolute;
  cursor: pointer;
  right: 10px;
  bottom: 11px;
  z-index: 10;
}
.main-promotion .nav-list li  {
  margin: 0px;
  float: left;
  color: #f19894;
  background: url(../img/carton.png) no-repeat 0 -25px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  margin-left: 5px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  position: relative;
  cursor: pointer;
  overflow: visible;
  font-weight: bold;
}
.main-promotion .nav-list li a:hover {
  text-decoration: none;
}
.main-promotion .nav-list .ks-active  {
  font-weight: 700;
  color: #FFF;
  background: url(../img/carton.png) no-repeat 0 0;
}/*cate*/
.cate-list {
  border-bottom: 1px dashed #cbcbcb;
  margin-top: 13px;
  color: #666;
 }
 .cate-list li {
   height: 34px;
}
/*
.fenlei .cate-list dt {
float: left;
width: 41px;
height: 21px;
color: #fff;
background: #ffa199;
text-align: center;
 }
   .fenlei .cate-list dl {
   height: 13px;
   overflow: hidden;
   vertical-align: middle;
   padding: 4px 0px;
}
  .fenlei .cate-list dd {
  float: left;
  line-height: 12px;
  border-left: 1px solid #DDD;
  padding: 0 18px;
}
 */
.cate-list h3 {
  float: left;
  width: 41px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  color: #fff;
  background-color: #ffa199;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
  z-index: 1;
  position: relative;
 }
 .cate-list .cate-sub {
   float: left;
   height: 21px;
   overflow: hidden;
   vertical-align: middle;
}
.cate-list .cate-sub li {
  float: left;
  cursor: pointer;
  height: 21px;
  line-height: 20px;
  padding: 0 10px;
  background: url(../img/border.png) no-repeat right center;
 }
 .cate-list .cate-sub li a {
   display: block;
   height: 21px;
   float: left;
   font-size: 12px;
   font-weight: normal;
   vertical-align: middle;
   padding: 0 8px;
}
.cate-list .cate-sub .active {
  color: #fff;
  background-color: #ffa199;
}
.cate-list .cate-sub li a:hover {
  text-decoration: none;
}
.flower-search  {
  height: 24px;
  margin-top: 6px;
  background: #ffdddd;
  padding: 5px;
 }
 .flower-search .tag-list {
   vertical-align: middle;
   overflow: hidden;
   width: 450px;
   height: 24px;
   float: left;
}
.flower-search .tag-list li {
  display: none;
  float: left;
  margin-right: 7px;
  padding-left: 13px;
  color: #666;
  line-height: 21px;
}
.flower-search .tag-list li.show {
  display: block;
  cursor: pointer;
  background: #fff;
  padding: 0 20px 0 7px;
  height: 23px;
  position: relative;
  filter: progid: DXImageTransform.Microsoft.Shadow(color='#ffa199', Direction=-135, Strength=1);/*for ie6, 7, 8*/
-moz-box-shadow: 1px 1px 0px #ffa199;
-webkit-box-shadow: 1px 1px 0px #ffa199;
box-shadow: 1px 1px 0px #ffa199;
}
.flower-search .tag-list li.show b {
  position: absolute;
  width: 8px;
  height: 8px;
  background: url(../img/close.png) no-repeat;
  right: 7px;
  top: 8px;
}
.flower-search .query {
  float: right;
  display: inline;
}
.flower-search .txt-search {
  width: 95px;
  height: 22px;
  border: 1px solid #fdbab2;
  border-radius: 2px;
  float: left;
  color: #666;
  margin-left: 8px;
  padding: 0 7px;
}
.flower-search  .btn-search {
  width: 66px;
  height: 24px;
  border: 0;
  cursor: pointer;
  background: url(../img/search.png);
  float: left;
  margin-left: 8px;
}
/*zhuti*/
.bd .act {
  height: 40px;
  border-bottom: 1px dashed #cbcbcb;
}
.bd .act ul {
  overflow: hidden;
  padding: 10px 0 9px 9px}
.bd .act li {
  float: left;
  line-height: 21px;
  height: 21px;
  vertical-align: middle;
  margin-right: 5px;
  color: #666;
  position: relative;
 }
 .bd .act li div {
   padding: 0 10px;
   position: relative;
   z-index: 1;
   vertical-align: middle;
   line-height: 21px;
   height: 21px;
   float: left;
}
.center-wrap {
  float: left;
  left: 50%;
  position: absolute;
  display: none;
  color: #ffa19f;
  bottom: -10px;
  margin-left: -6px;
  font-family: "宋体";
}
.bd .act .ks-active div {
  background: #ffa19f;
  color: #fff;
}
.bd .act .ks-active .center-wrap {
  display: block;
}
.bd .conent {
  margin-top: 22px;
}
.bd .pro-list {
  margin-left: -29px;
}
.bd .pro-list li {
    float: left;
  width: 141px;
  margin: 0px 0px 10px 29px;
  line-height: 18px;
  display: inline;
  text-align: center;
}
.bd .pro-list li a {
  text-decoration: none;
}
.bd .pro-list .pic {
  width: 141px;
  height: 141px;
 }
 .bd .pro-list .pic a {
    width: 141px;
   height: 141px;
   vertical-align: middle;
}
.bd .pro-list .desc {

  color: #414141;
  margin-top: 5px;
}
.bd .pro-list .desc a {

  height: 18px;
  overflow: hidden;
}
.bd .pro-list .desc .huayu {
  color: #56b097;
}
.bd .pro-list .desc em {
  color: #56b097;
  display: block;
}
.rmb-grey  {
  padding: 3px;
 }


 /*main-right*/
 /*tese*/
 .main-right .left {
   float: left;
}
.main-right .hd {
  overflow: hidden;
}
.main-right .right {
  float: right}
.special {
  padding: 14px 0;
  border-bottom: dashed 1px #CACACA}
.special ul {
  zoom: 1;
  overflow: hidden;
}
.special li,
.special li span {
  width: 127px;
  overflow: hidden;
}
.special li img {
  display: block;
  padding: 2px;
  border: solid 1px #D8D8D8;
  margin-bottom: 5px;
}
.special li span {
  display: block;
  text-align: center;
  width: 127px;
  overflow: hidden;
}
.special-text {
  border-bottom: dashed 1px #CACACA;
  padding: 11px 0px;
}
.special-text li,
.festival1 li,
.huabao li,
.dapei li,
.shenghuo li {
  line-height: 30px;
  padding-left: 14px;
  background: url(../img/tes-list.gif) no-repeat left 10px;
}
.splcartoon {
  margin-top: 14px;
}
.spltitle ul {
  overflow: hidden;
  zoom: 1;
  margin-right: -10px;
}
.spltitle {
  width: 270px;
  overflow: hidden;
}
.spltitle li {
  float: left;
  margin-right: 10px;
  width: 18px;
  height: 21px;
  color: #919191;
  text-align: center;
  background: url(../img/list1.jpg) no-repeat;
  cursor: pointer;
 }
 .ks-active .ks-switchable-trigger-content {
   background: url(../img/list2.jpg) no-repeat;
   color: #fff;
   line-height: 18px;
   height: 21px;
 }

 .splcon-list img {
   width: 133px;
   height: 95px;
   padding: 1px;
   border: solid 1px #D6D6D6;
}
.mgl143 {
  margin-left: 148px;
}
.splcon {
  padding-top: 12px;
}
.coloe {
  color: #FFA199;
  font-size: 16px;
  font-weight: bold;
}
.font-20 {
  font-size: 20px;
  font-weight: normal;
}
.buy {
  background: url(../img/buy.jpg) no-repeat;
  width: 66px;
  height: 24px;
  overflow: hidden;
  margin-top: 8px;
}
.buy a {
  display: block;
  height: 24px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background: #ea8a82;
  text-decoration: none;
}
.sales {
  color: #666;
}
.sales em {
  color: #f09890;
 }
.pictorial,
 .splcon-list {
   overflow: hidden;
   zoom: 1;
}
.pictorial {
  position: relative;
}
.cartoon-left,
.cartoon-right {
  width: 41px;
  height: 130px;
  overflow: hidden;
  position: absolute;
}
.cartoon-con {
  width: 188px;
  float: left;
  height: 130px;
  position: relative;
  left: 41px;
  overflow: hidden;
}
.cartoon-con img {
  width: 178px;
  height: 121px;
  padding: 2px;
  border: solid 1px #E3E3E3;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 2px 2px 4px #E3E3E3;
  -webkit-box-shadow: 2px 2px 4px #E3E3E3;
  box-shadow: 2px 2px 4px #E3E3E3;
}
.cartoon-con ol {
  list-style: none;
}
.cartoon-con li {
  text-align: center;
  width: 188px;
  background: none;
  padding: 0;
  margin: 0;
  float: left;
}
#J_TinySlide ul {
  display: none;
}
#J_Slide .ks-switchable-trigger-content  {
  position: relative;
}
#J_Slide .ks-switchable-trigger-mask  {
  position: absolute;
  right: 0;
  width: 18px;
  height: 21px;
  visibility: hidden}
#J_Slide .ks-active .ks-switchable-trigger-mask  {
  visibility: visible}
.cartoon-left {
    background: url(../img/left-list.jpg) no-repeat;
    left: 0;
}
.cartoon-right {
  background: url(../img/right-list.jpg) no-repeat;
  right: 0;
}
.cartoon-left a,
.cartoon-right a {
  overflow: hidden;
  display: block;
  height: 129px;
  width: 41px;
}
/*festival*/
.festival1 {
  padding-top: 10px;
}
.main-right h3 {
  font-size: 12px;
  background: url(../img/festival-bg.gif) no-repeat;
  line-height: 14px;
  color: #666666;
  padding: 5px 0 5px 17px;
}
.festival1 ul {
  padding-top: 7px;
  padding-bottom: 9px;
}
/*.pictorial*/
.pictorial {
  padding: 18px 0 1px;
}
.mgt8 {
  margin-top: 8px;
}
.pdt8 {
  padding-top: 8px;
}
.pictorial-top {
  padding: 10px 0 11px;
  zoom: 1;
  overflow: hidden;
  border-bottom: dashed 1px #CACACA}
.pictorial-top .pic {
  float: left}
.pictorial-topright {
  margin-left: 127px;
  margin-top: -4px;
}
.pictorial-topright p {
  color: #999;
}
.pictorial-toptext {
  line-height: 20px;
  height: 36px;
  overflow: hidden;
  color: #999;
}
.pictorial-topbt {
  width: 81px;
  height: 24px;
  line-height: 24px;
  background: #8d8d8d;
  text-align: center;
  margin-top: 6px;
}
#content .pictorial-topbt a {
  display: block;
  height: 24px;
  color: #fff;
  text-decoration: none;
}
#content .pictorial-topbt a:hover {
  color: #fff;
}
.dapei ul {
  padding-top: 8px;
  padding-bottom: 8px;
}
.shenghuo ul {
  padding-top: 6px;
}
/*content-footer*/
.content-footer {
  background: #fff;
  border: solid #fda4b2;
  border-width: 4px 1px 1px 1px;
  margin: 13px 0;
  overflow: hidden;
}
.content-footer-box-wrap {
  margin-left: -1px;
  padding: 13px 0 12px 0;
}
.content-footer-box {
  width: 33%;
  float: left;
  display: inline;
 }
 .footer-box-inner {
   border-left: 1px solid #d6d6d6;
   padding: 0 15px;
}
.content-footer .hd {
  height: 37px;
  border-bottom: 3px solid #d6d6d6;
}
.content-footer h2 {
  height: 37px;
  text-indent: -9999em;
  float: left;
  display: inline;
}
#content .content-footer .hd .morelink {
  float: right;
  color: #000;
  display: inline;
  line-height: 18px;
  height: 20px;
  padding: 0 7px;
  background: #d1d1d1;
  margin-top: 6px;
  text-decoration: none;
}
.zixun h2 {
  background: url(../img/zixun.png) no-repeat;
  width: 43px;
}
.weibo h2 {
  background: url(../img/weibo.png) no-repeat;
  width: 108px;
}
.bangpai h2 {
  background: url(../img/bangpai.png) no-repeat;
  width: 99px;
}
.zixun ul,
.weibo ul,
.bangpai ul {
  padding-top: 3px;
}
.zixun li,
.weibo li,
.bangpai li {
  line-height: 30px;
  padding-left: 14px;
  background: url(../img/tes-list.gif) no-repeat left 10px;
}
