.main-left .fenlei h2 {
  background: url(../img/fenlei.png) repeat 10px 10px;/** sprite-ref: mysprite; */
  width: 80px;
}
.main-right .tese h2 {
  background: url(../img/tese.png) repeat-x center top;/** sprite-ref: mysprite; */
  width: 80px;
}
.main-left .zhuti h2 {
  background: url(../img/zhuti.png) no-repeat;
  width: 148px;
}
.main-right .jieri h2 {
  background: url(../img/jieri.png) no-repeat;
  width: 80px;
}
.main-left .hunli h2 {
  background: url(../img/hunli.png) no-repeat;
  width: 80px;
}
.main-right .huabao h2 {
  background: url(../img/huabao.png) no-repeat;
  width: 80px;
}
.main-left .jiaju h2 {
  background: url(../img/jiaju.png) no-repeat;
  width: 80px;
}
.main-right .dapei h2 {
  background: url(../img/dapei.png) no-repeat;
  width: 120px;
}
.main-left .diy h2 {
  background: url(../img/diy.png) no-repeat;
  width: 106px;
}
.main-right .shenghuo h2 {
  background: url(../img/shenghuo.png) no-repeat;
  width: 80px;
}
