.main-left .fenlei h2 {
  width: 80px;
  background-repeat: repeat;
  background-position: 10, 10;
}
.main-right .tese h2 {
  width: 80px;
  background-repeat: repeat-x;
  background-position: 0, 0;
}
.main-left .zhuti h2 {
  width: 148px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.main-right .jieri h2 {
  width: 80px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.main-left .hunli h2 {
  width: 80px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.main-right .huabao h2 {
  width: 80px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.main-left .jiaju h2 {
  width: 80px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.main-right .dapei h2 {
  width: 120px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.main-left .diy h2 {
  width: 106px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.main-right .shenghuo h2 {
  width: 80px;
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.main-left .fenlei h2,
.main-right .tese h2,
.main-left .zhuti h2,
.main-right .jieri h2,
.main-left .hunli h2,
.main-right .huabao h2,
.main-left .jiaju h2,
.main-right .dapei h2,
.main-left .diy h2,
.main-right .shenghuo h2 {
  background-image: url(../img/mysprite.png);
}
